table.calendar {
  border-collapse: collapse;
}

table.calendar thead {
  background-color: #5A5A5A;
  color: white;
  margin-bottom: 3px;
  border-bottom: 2px solid white
}

table.calendar thead th {
  font-weight: lighter;
  padding: 10px 3px;
}

table.calendar thead th.bolder {
  font-weight: bold;
}

table.calendar tbody {
  font-size: 0.8em;
}

table.calendar td {
  text-align: center;
  padding: 8px;
  cursor: pointer;
  border: 1px solid rgba(185, 185, 185, 0.13);
  min-width: 15px;
}

table.calendar tr:last-child td {
  border-bottom: none;
}

table.calendar td.month-name {
  font-weight: bold;
  text-align: left;
  cursor: default;
  border-left: none;
}

table.calendar td.prev-month,
table.calendar td.next-month {
  color: transparent;
  cursor: default;
  pointer-events: none;
}

table.calendar td.week-separator {
  pointer-events: none;
  padding: 0;
  width: 8px;
  min-width: 0;
}

.weekend,
.unselectable {
  pointer-events: none;
  background-color: rgb(232,241,255) !important;
  color: rgb(213, 219, 226);
}

.today {
  outline-style: solid;
  outline-color: red;
  outline-width: 3px;
  font-weight: bold;
  color: black;
}

.holiday {
  background-color: rgba(255,249,226,50);
}

.child1 {
  background-color: rgb(211, 251, 199);
}

.child2 {
  background-color: rgb(255, 214, 156);
}

.child3 {
  background-color: rgb(255, 161, 255);
}

.child12 {
  background: url(
    data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHElEQVQYlWO48vv4f2Iww1BQ+P/anP/E4KGgEAADTl8K2Z8fpQAAAABJRU5ErkJggg==
  ) repeat;
}

.child13 {
  background: url(
    data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHElEQVQYlWO48vv4f2Iww1BQ+H/h///E4KGgEACNiWgG5Uex4QAAAABJRU5ErkJggg==
  ) repeat;
}

.child23 {
  background: url(
    data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAG0lEQVQYlWP4f23Of2Iww5BQuPD/f2LwUFAIAOwGYMxav3z8AAAAAElFTkSuQmCC
  ) repeat;  
}

.child123 {
  background: url(
    data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAI0lEQVQYlWO48vv4f2IwA/UV/r825z8xeEAVLvz/nxhMfYUAg/xhiqekhNwAAAAASUVORK5CYII=
  ) repeat;
}

table.calendar td.holidays {
  font-weight: bold;
  color: red;
  text-decoration: underline;
}

table.calendar td.weekend {
  font-style: italic;
  font-weight: bold;
}

table.calendar td.bolder {
  font-weight: bold;
}

table.calendar td.winter.range,
table.calendar td.winter.selected {
  background-color: rgba(159, 220, 249, 1);
  font-weight: bold;
}

table.calendar td.range {
  background-color: rgb(153, 206, 255);
}

div.calendar-controls {
  margin: 5px auto;
  display: table;
  font-size: 25px;
  line-height: 35px;
}

div.calendar-controls div {
  display: inline;
}

div.calendar-controls .current-year {
  margin: 0 30px;
}

div.calendar-controls .control {
  font-weight: bolder;
  color: #323232;
  font-size: 0.8em;
  cursor: pointer;
}

div.calendar-controls .today {
  position: absolute;
  right: 15px;
  line-height: 35px;
  font-size: 0.6em;
  text-transform: uppercase;
}

#periods span + span { margin-left: 10px; margin-top: 10px; }

