.child1 {
  background-color: rgb(211, 251, 199);
}

.child2 {
  background-color: rgb(255, 214, 156);
}

.child3 {
  background-color: rgb(255, 161, 255);
}

.child12 {
  background: url(
    data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHElEQVQYlWO48vv4f2Iww1BQ+P/anP/E4KGgEAADTl8K2Z8fpQAAAABJRU5ErkJggg==
  ) repeat;
}

.child13 {
  background: url(
    data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHElEQVQYlWO48vv4f2Iww1BQ+H/h///E4KGgEACNiWgG5Uex4QAAAABJRU5ErkJggg==
  ) repeat;
}

.child23 {
  background: url(
    data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAG0lEQVQYlWP4f23Of2Iww5BQuPD/f2LwUFAIAOwGYMxav3z8AAAAAElFTkSuQmCC
  ) repeat;  
}

.child123 {
  background: url(
    data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAI0lEQVQYlWO48vv4f2IwA/UV/r825z8xeEAVLvz/nxhMfYUAg/xhiqekhNwAAAAASUVORK5CYII=
  ) repeat;
}

.popover{
    width:400px;
    max-width: 100%;
}

.beginPeriod {
    box-shadow: inset 2px 2px 0px 0px #000;
}

.period {
    box-shadow: inset 0px 2px 0px 0px #000;
}

.endPeriod {
    box-shadow: inset -2px 2px 0px 0px #000;
}

